<div>    
    <div>
        <ul>
            <%currentUser.todos.forEach(todo => {%>
                <li><%=todo.text%> 
                    <form action="/<%=currentUser._id%>/<%=todo._id%>?_method=DELETE" method="POST">
                        <button>X</button>
                    </form>
                </li>                
            <%});%>                
        </ul>
        <form action="/newtodo" method="post">
            <input type="text" name="text" id="">
            <button type="submit">Add</button>
        </form>
    </div>
</div>