<% include ./layouts/header%>
    <h1>Welcome <%=currentUser.fName%></h1>
    <p>
        <%if(currentUser.todos.length > 0){%>
            Here you have your pending items:
        <%} else{%>
            You don't have pending items, you are awesome!
        <%};%>
        </p>
    <div><% include ./components/todos%></div>
<% include ./layouts/footer%>