<link rel="stylesheet" href="../">

<div id="userForms">

    <div id="loginForm">
        <form action="/login" method="post">
            <p><strong>Login</strong></p>
            <label for="username">Username</label>
            <input type="text" name="username" id="usernamel" placeholder="jonnybones">
            <label for="username">Password</label>
            <input type="password" name="password" id="passwordl" placeholder="password">
            <button type="submit">Log In</button>
        </form>
    </div>







    <div id="registerForm">
        <form action="/register" method="post">
            <div class="formInput">
                <label for="username">Username</label>
                <input type="text" name="username" id="usernameR" placeholder="jonnybones">
            </div>
            <div class="formInput">
                <label for="fName">First Name</label>
                <input type="text" name="fName" id="fName" placeholder="Jon">
            </div>
            <div class="formInput">
                <label for="lName">Last Name</label>
                <input type="text" name="lName" id="lName" placeholder="Jones">
            </div>
            <div class="formInput">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="jonjones@gmail.com">
            </div>
            <div class="formInput">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="formInput">
                <label for="iad">Are you an admin? </label>
                <input type="checkbox" id="iad" name="isAdmin">
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</div>

