
    <div class="container">
        <div>
            <p>Profile</p>
        </div>
        <div>
            <div>
                <label for="pun">Username</label>
                <p id="pun"></p>
            </div>
            <div>
                <label for="pfn">First Name</label>
                <p id="pfn"></p>
            </div>
            <div>
                <label for="pln">Last Name</label>
                <p id="pln"></p>
            </div>
            <div>
                <label for="pem">Email Address</label>
                <p id="pem"></p>
            </div>
        </div>
        <a class="btn btn-warning"href="">Edit Profile</a>
    </div>
