<% include ./layouts/header%>

<% if(!currentUser) { %>
    <% include ./components/authForms%>
    
<%} else if(currentUser.isAdmin){%>
    <p>This is what you see if you are an admin</p>

    <div><% include ./components/todos%></div>

<% } else if(!currentUser.isAdmin){%>
    <p>This is what you see if you are not an admin</p>
    
    <div><% include ./components/todos%></div>
<% }; %>


</body>
</html>
