
<% include ./layouts/header%>
    <div class="container">

  <h1>myTodo App</h1>
  <p>Welcome to myTodo App </p>
</div>
<% if(!currentUser) { %>

<!-- This is what you get if you're not logged-->
    <% include ./components/authForms%>
    
<!–– ––>
<%} else if(currentUser.isAdmin){;%>

<!-- This is what you get if you log in and you're an admin-->

    <div id="">
        <p>This is what you get when logged in and you're and admin</p>
    </div>
<% } else{%>



<!-- This is what you get if you're logged in and are not an admin-->
    <div id="">
        <p>This is what you get when logged in and you're a gato</p>        
    </div>
    <% include ./components/todos%>

<% } %>


</body>
</html>
